<header class="site-header">
  <div class="site-header__inner">
    <a class="site-title" href="{{ '/' | relative_url }}">
      <img class="site-title__avatar" src="{{ '/assets/img/avatar.png' | relative_url }}" alt="" width="28" height="28">
      <span>{{ site.title }}</span>
    </a>
    <nav class="site-nav">
      {% for item in site.nav %}
        <a href="{{ item.url | relative_url }}"{% if page.url == item.url %} class="is-current"{% endif %}>{{ item.name }}</a>
      {% endfor %}
    </nav>
  </div>
</header>
