{%- assign comments = site.data.recent_comments -%}
{%- if comments and comments.size > 0 -%}
<aside class="recent-comments" aria-label="최근 댓글">
  <h2 class="recent-comments__heading">최근 댓글</h2>
  <ul class="recent-comments__list">
    {%- for c in comments -%}
      <li class="recent-comments__item">
        <a class="recent-comments__link" href="{{ c.url | relative_url }}">
          <span class="recent-comments__body">{{ c.body }}</span>
          <span class="recent-comments__meta">
            <span class="recent-comments__author">{{ c.author }}</span>
            <time class="recent-comments__date">{{ c.date }}</time>
          </span>
        </a>
      </li>
    {%- endfor -%}
  </ul>
</aside>
{%- endif -%}
